body {
  background-color: black;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: white;
  text-align: center;
  margin-top: 0%;
}

h4 {
  color: white;
  text-align: center;
  margin: 0%;
  /* animation-name: spin; */
  /* animation-duration: 30000ms;
  animation-iteration-count: infinite; */
}

.player1background{
  background-color: black;
}

.player2background{
  background-color: black;
}

.outline{
  display: inline-block;
  margin: auto;
  margin-bottom: 1%;
  padding: 10px;
  border-radius: 5px;
  border-color: rgb(103, 101, 101);
  border-style: solid;
  width: 20%;
}

.parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.lifeTotal {
  background-color: rgb(103, 101, 101);
  color: white;
  width: 50%;
  border-radius: 40%;
  text-align: center;
  margin: auto;
}

.lifeTotal2 {
  background-color: rgb(103, 101, 101);
  color: white;
  width: 50%;
  border-radius: 40%;
  text-align: center;
  margin: auto;
}

.button {
  background-color: rgb(79, 240, 79);
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}

.button:active {
  background-color: tomato;
}

.centered {
text-align: center;}

.diceBackground{
  border-style: solid;
  border-color: rgb(103, 101, 101);
  background-color: rgb(79, 77, 77);
  border-radius: 14px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 1%;
  margin: auto;
  width: 10%;
}
@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  50% {
      transform:rotate(360deg);
  }
  100% {
    transform:rotate(-360deg);  
  }
}